
.maxwidth {
    width: 100%;
}

tr.deleted td a {
    color: red !important;
}

.blocked {
    opacity: 0.5;
}

.readonlysurvey {
    color: rebeccapurple !important;
}

.oversightsurvey {
    color: #f18314 !important;
}

.reversed {
    color: #ccc;
}

#map {
    width: 100%;
    height: 500px;
}

.bg-rejected {
    background-color: #8B4513 !important;
    color: white
}

.chart-header.card-header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.wide-chart {
    position: relative;
    height:40vh;
    width:80vw;
}

.email_options {
    background-color: whitesmoke;
    padding: 10px;
}

::placeholder {
    color: lightgrey;
}

.conv-from {
    background-color: #0a6fae;
    color: white;
}

.conv-to {
    background-color: #b88a04;
    color: white;
}

.message time {
    font-size: 11px;
    color: #ccc;
    line-height: 1;
}

.message dest {
    font-size: 11px;
    color: #ccc;
    line-height: 1;
}
