
.maxwidth {
    width: 100%;
}

tr.deleted td a {
    color: red !important;
}

.blocked {
    opacity: 0.5;
}

.reversed {
    color: #ccc;
}

#map {
    width: 100%;
    height: 500px;
}

.bg-rejected {
    background-color: #8B4513 !important;
    color: white
}

.chart-header.card-header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.wide-chart {
    position: relative;
    height:40vh;
    width:80vw;
}
