
.maxwidth {
    width: 100%;
}

tr.deleted td a {
    color: red !important;
}

.blocked {
    opacity: 0.5;
}

.readonlysurvey {
    color: rebeccapurple !important;
}

.oversightsurvey {
    color: #f18314 !important;
}

.reversed {
    color: #ccc;
}

#map {
    width: 100%;
    height: 500px;
}

.bg-rejected {
    background-color: #8B4513 !important;
    color: white
}

.chart-header.card-header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.wide-chart {
    position: relative;
    height:40vh;
    width:80vw;
}

.email_options {
    background-color: whitesmoke;
    padding: 10px;
}

::placeholder {
    color: lightgrey;
}

.conv-from.sms {
    background-color: #0a6fae;
    color: white;
}

.conv-to.sms {
    background-color: #7993a3;
    color: black;
}

.conv-from.whatsapp {
    background-color: #25d366;
    color: white;
}

.conv-to.whatsapp {
    background-color: #dcf8c6;
    color: black;
}

.conv-from.email {
    background-color: #987554;
    color: white;
}

.conv-to.email {
    background-color: #e5d3b3;
    color: black;
}

.message time, .message dest {
    font-size: 11px;
    color: #333;
    line-height: 1;
}

.email time, .email dest {
    font-size: 11px;
    color: #333;
    line-height: 1;
}
