/* Navigation */
.navbar-smap .navbar-brand {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-brand:hover, .navbar-smap .navbar-brand:focus {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #ccc
}

.navbar-smap .navbar-nav .nav-link {
    background-color: #1C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-nav .nav-link:hover, .navbar-smap .navbar-nav .nav-link:focus {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-nav .nav-link.disabled {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-nav .show > .nav-link,
.navbar-smap .navbar-nav .active > .nav-link,
.navbar-smap .navbar-nav .nav-link.show,
.navbar-smap .navbar-nav .nav-link.active {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-toggler {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-smap .navbar-text {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-text a {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-smap .navbar-text a:hover, .navbar-smap .navbar-text a:focus {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.bg-navbar-smap {
    background-color: #2C3D29;
}

.navbar-brand img {
    max-height: 30px;
    line-height: 40px;
    padding-right: 5px;
}

a.bg-navbar-smap:hover, a.bg-dark:focus,
button.bg-navbar-smap:hover,
button.bg-navbar-smap:focus {
    background-color: #1d2124 !important;
}

/* Field Analysis Cards */
.pSidebar {
    height: 100%;
    width: 25%;
    display: none;
    float: right;
    background: white;
    overflow: auto;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    position: absolute;
    top:0;
    right:0;
    z-index: 2000;
}

.pLarge .pSidebar img {
    height: 48px
}

.pSmall .pSidebar img {
    height: 24px;
}

.pSidebar label.ui-button, .pSidebar button, .pSidebar .pfoot form input {
    width: 90%;
    margin: auto;
    margin-left: 5px;
    max-width: none;
}

.pSidebar h3 {
    color: #FF5050;
    clear: both;
}

.pSidebar input {
    float: left;
}

#panel-container {
    overflow: auto;
    /*position: relative;*/
    width: 100%;
    height: 100%;
    padding: 0;
}

.maxwidth {
    width: 100%;
}

tr.deleted td a {
    color: red !important;
}

.large-bars {
    font-size:28px;
}
