
/* Tables */
#table table, #table th, #table td {
	border:1px solid black;
}

table {
	border-collapse:collapse;
}
td {
	padding: 5px;
}

/* Report content */

.rep_content {
	height: 90%; 
	width: 100%; 
	background: white; 
	overflow: none;
}

#rep_meta p { 
	margin: 0.5em 0; 
	font-size:0.875em;
}

#rm_left {
	width: 1%;
	float: left;
}

#rm_right {
	margin-left: 1%; 
}

