<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>odata</display-name>
	<servlet>
		<servlet-name>Tutorial</servlet-name>
		<servlet-class>odataApi.OdataDemo</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		<servlet-mapping>
		<servlet-name>Tutorial</servlet-name>
		<url-pattern>/odataDemo.svc/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Odata</servlet-name>
		<servlet-class>odataApi.Odata</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/my_portal1.svc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/my_portal2.svc/*</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/my_portal3.svc/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/shared_portal1.svc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/shared_portal2.svc/*</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Odata</servlet-name>
		<url-pattern>/shared_portal3.svc/*</url-pattern>
	</servlet-mapping>

</web-app>